
@{
    ViewBag.Title = "Glorious | О нас";

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container min-h">
        <div class="counter box-shadow">
            <br />
            <h2>В нашем магазине</h2>
            @*<h2>Счетчики крутости, или чсв, или самоутверждения:</h2>*@
            <p>Товаров: @ViewBag.ProductCounter</p>
            <p>Заказов: @ViewBag.OrderCounter</p>

        </div>

        <div class="about box-shadow">
            <h2>Добро пожаловать в мир Glorious!</h2>
            <p>
                На страницах нашего интернет-магазина Вы найдете много полезных мелочей которые украсят ваш дом и будут греть вашу душу. Соотношение качества, функциональности и дизайна делают наши товары незаменимыми для создания уюта в вашем доме.
                Мы открылись недавно и именно поэтому нам важен каждый клиент, а это значит, что Вы получите максимальный сервис и обязательно останетесь довольны!
                Следите за акциями и скидками и тогда ваш кошелек никогда не похудеет.)
            </p>
        </div>
    </div>
</body>
</html>