
@{
    ViewBag.Title = "Пользовательское соглашение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h2>Пользовательское соглашение</h2>
    <div class="box-shadow container">
        <p>
            Условные обозначения:<br>
            <em>Интернет-магазин</em> – сайт, имеющий адрес в сети Интернет.<br>
            <em>Товар</em> – продукция, представленная к продаже в интернет-магазине.<br>
            <em>Клиент</em> – разместившее Заказ физическое или юридическое лицо.<br>
            <em>Заказ</em> – оформленный должным образом запрос Клиента на покупку Товара.<br>
            <em>Транспортная компания</em> – третье лицо, оказывающее услуги по доставке Товаров Клиентам.
        </p>
        <p>
            1. Общие положения<br>
            1.1. Настоящее Соглашение заключается между Покупателем и Интернет-магазином «glorious.com.ua» в лице администратора сайта в момент оформления заказа.<br>
            1.2. При оформлении заказа Покупатель соглашается с условиями, оговоренными настоящим Соглашением. Акцептом данного договора покупателем является размещение заказа через сайт Интернет магазина «glorious.com.ua» или по телефону, указанному на данном сайте.<br>
            1.3 Совершить покупку в Интернет-магазине может любое физическое или юридическое лицо, способное принять и оплатить товар.<br>
            1.4. Продавец оставляет за собой право вносить изменения в настоящие Условия.
        </p>
        <p>
            2. Оформление Заказа<br>
            2.1. Для оформления Заказа необходимо указать фактические контактные координаты Клиента в Интернет-магазине.<br>
            2.2. Продавец не несет ответственности за достоверность информации, предоставляемой Клиентом при оформлении заказа.<br>
            2.3. Заказ Клиента может быть оформлен в Интернет-магазине.<br>
            2.4. После оформления Заказа Клиенту предоставляется информация об ожидаемой дате передачи Товара Клиенту. Указанная дата зависит от времени, необходимого на производство Товара или наличия заказанных Товаров на складе Продавца.<br>
            2.5. Товар представлен в каталоге через фото-образцы и текстовое описание, являющиеся собственностью интернет-магазина «glorious.com.ua».<br>
            2.6. Представленные фото-образцы содержат один и более видов товара определенного наименования и текстовую информацию: описание, характеристики, размеры, стоимость за единицу продукции, имеют сведения об основных потребительских свойствах товара.<br>
            2.7. Некоторые Товары могут отличаться от представленных на фотографии, а именно оттенок, цветопередача и т.п. В случае возникновения у Клиента вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Клиент может обратиться к Продавцу.<br>
            2.8. В случае аннулирования предоплаченного Заказа, сумма предоплаты полностью возвращается Продавцом Клиенту (за вычетом комиссии, если оплата совершалась переводом на банковскую карту) согласованным сторонами способом.
        </p>
        <p>
            3. Доставка<br>
            3.1. Доставка осуществляется транспортными компаниями за счёт Заказчика и Продавца (зависит от суммы заказа).<br>
            3.2. Доставка Заказа до транспортной компании осуществляется бесплатно.<br>
            3.3. Конечные сроки получения заказа зависят от адреса и региона доставки и работы конкретной службы доставки.<br>
            3.4. Отправка заказанного товара по Украине производится в течение 3-14-х рабочих дней, со дня подтверждения заказа Покупателем. Суббота и Воскресенье, равно как и официально признанные праздники не входят в число рабочих дней.
        </p>
        <p>
            4. Оплата Товара<br>
            4.1. Цена Товара указывается в Интернет-магазине за единицу.<br>
            4.2. Цена Товара в Интернет-магазине может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Клиентом Товар изменению не подлежит.<br>
            4.3. Продавец вправе предоставлять Клиенту скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны в Интернет-магазине и могут быть изменены Продавцом в одностороннем порядке.<br>
            4.4. При не поступлении денежных средств Интернет-магазин «glorious.com.ua» оставляет за собой право аннулировать заказ.<br>
            4.5. Цены на товары нашего интернет – магазина указаны в гривне.
        </p>
        <p>
            5. Конфиденциальность и защита персональной информации<br>
            5.1. В момент оформления заказа в Интернет-магазине Клиент предоставляет следующую информацию:<br>
            • фамилию и имя Клиента<br>
            • адрес доставки Товара<br>
            • контактный телефон<br>
            • e-mail<br>
            5.2. Продавец использует информацию, представленную Клиентом, в следующих случаях:<br>
            • для выполнения своих обязательств перед Клиентом;<br>
            • для анализа работы Интернет-магазина;<br>
            • для направления Клиенту сообщений рекламно-информационного характера<br>
            5.3. Продавец обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Клиентом, и только в объеме, необходимом для исполнения ими своих обязательств.<br>
            5.4. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями законодательства Украины.<br>
            5.5. Продавец вправе использовать технологию “cookies”. “Cookies” не содержат конфиденциальную информацию и не передаются третьим лицам.<br>
            5.6. Продавец получает информацию об ip-адресе посетителя Интернет-магазина. Данная информация не используется для установления личности посетителя и не передаются третьим лицам.
        </p>
        <p>
            7. Прочие условия<br>
            7.1. В случае возникновения вопросов и претензий со стороны Клиента он должен обратиться к Продавцу, используя контактную информацию, размещенную в Интернет-магазине. Все возникающее споры стороны будут стараться решить путем переговоров.<br>
            7.2. Вся текстовая информация и графические изображения, находящиеся в Интернет-магазине, являются собственностью интернет-магазина «glorious.com.ua»<br>
            7.3. Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на Сайте.
        </p>
    </div>
</div>