
@{
    ViewBag.Title = "Glorious | Жалобы и предложения";

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <br />
        <h2>Жалобы и предложения</h2>
        <div class="box-shadow">

            <h3>Раздел в разработке</h3>
            <br />
        </div>
        <br />
        <br />
        <br />
        <br />

    </div>
</body>
</html>
