
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container min-h">
        <div class="buy box-shadow">
            <h2>Спасибо, Ваш заказ отправлен.</h2>
            <p>Ожидайте обратной связи.</p>
            <a href="/Home/Products">Вернуться к покупкам</a>
        </div>
    </div>


</body>
</html>