
@{
    ViewBag.Title = "Glorius | Контакты";

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container min-h">
        <br />
        <h2>Контакты для консультации и заказа</h2>

        <div class="box-shadow">
            <br>
            <div class="adres">
                <h3>Адрес:</h3>
                <p>Житомирская обл., г.Малин</p>
            </div>
            <br>
            <div class="phone">
                <h3>Телефоны:</h3>
                <p>тел. 096 662 66 74  <i class="fab fa-viber"></i></p>
                <p>тел. 073 340 74 03</p>
                <p>Связь по телефону с 08:00 до 21:00</p>

            </div>
            <br>
            <div class="mail">
                <h3>Електронная почта:</h3>
                <p>glorious.woodwork@gmail.com</p>

            </div>
            <br>
            <div class="link">
                <h3>Мы на других платформах</h3>
                <a href="https://vk.com/night_light_sell"><i class="fab fa-vk"></i></a>
                <a href="https://www.instagram.com/glorious.woodwork/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/glorious.woodwork"><i class="fab fa-facebook"></i></a>
            </div>

        </div>
    </div>
</body>
</html>
