@{ 
    ViewBag.Title = "Glorius | Оплата и доставка";

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <br />
        <h2>Оплата и доставка</h2>
        <br />
        <div class="attention">
            <p>
                Внимание! <br>
                При получении товара обязательно проверяйте наличие всего товара в заказе, а так же его внешний вид и целостность.<br>
                В случае повреждения товара, или неполной комплектации заказа - необходимо отказаться от получения товара и его оплаты, а так же составить претензию и сообщите нам.
            </p>
        </div>
        <div class="box-shadow">
            <h1>Доставка</h1>
            <ul class="delivery row">
                <li><a href="https://novaposhta.ua/"><img src="~/Content/img/Nova_Poshta_2014_logo.svg.png" /></a></li>
                <li><a href="https://intime.ua/"><img src="~/Content/img/inTime.png" alt=""></a></li>
                <li><a href="https://ukrposhta.ua/"><img src="~/Content/img/Ukrposhta-ua.svg.png" alt=""></a></li>
                <li class="pickup">
                    <img src="~/Content/img/pickup.png" />
                    <span class="tooltiptext">Самовывоз из г.Малин</span>
                </li>
            </ul>
            <h1>Бесплатная доставка</h1>
            <ul class="payments">
                <li>От 500грн для Нова пошта </li>
                <li>От 500грн для Ин Тайм</li>
                <li>От 300грн для Укрпошта</li>
            </ul>
            <h1>Оплата</h1>
            <ul class="payments">
                <li>Наличными</li>
                <li>Наложенный платеж</li>
                <li>На карту ПриватБанка</li>
                <li>Bitcoin</li>
            </ul>

        </div>
    </div>

</body>
</html>