
@{
    ViewBag.Title = "Glorious | Эскиз";

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container min-h">
        <br />
        <h2>Форма заказа эскиза</h2>
        <div class="sketch box-shadow">

            <h3>Раздел в разработке</h3>
            <br />
            <p>Если вы не нашли нужное вам изделие, но у вас есть идея или фото, вы всегда можите обратится по @Html.ActionLink("контактным данным", "Contacts", "Home") и заказать изделие.</p>
        </div>
        <br />
        <br />
        <br />
        <br />

    </div>
</body>
</html>
