
@{
    ViewBag.Title = "Glorious | Условия использования сайта";

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <br />
        <h2>Пользовательское соглашение</h2>
        <div class="agreement box-shadow">
            <p>Условные обозначения:</p>
            <p><em>Интернет-магазин</em> – сайт, имеющий адрес в сети Интернет.</p>
            <p><em>Товар</em> – продукция, представленная к продаже в интернет-магазине.</p>
            <p><em>Клиент</em> – разместившее Заказ физическое или юридическое лицо.</p>
            <p><em>Заказ</em> – оформленный должным образом запрос Клиента на покупку Товара.</p>
            <p><em>Транспортная компания</em> – третье лицо, оказывающее услуги по доставке Товаров Клиентам.</p>
            <br />
            <p>Общие положения</p>
            <ul>
                <li>
                    Настоящее Соглашение заключается между Покупателем и Интернет-магазином «glorious.com.ua» в лице администратора сайта в момент оформления заказа.
                </li>
                <li>
                    При оформлении заказа Покупатель соглашается с условиями, оговоренными настоящим Соглашением. Акцептом данного договора покупателем является размещение заказа через сайт Интернет магазина «glorious.com.ua» или по телефону, указанному на данном сайте.
                </li>
                <li>
                    Совершить покупку в Интернет-магазине может любое физическое или юридическое лицо, способное принять и оплатить товар.
                </li>
                <li>
                    Продавец оставляет за собой право вносить изменения в настоящие Условия.
                </li>
            </ul>
            <p>Оформление Заказа</p>
            <ul>
                <li>
                    Для оформления Заказа необходимо указать фактические контактные координаты Клиента в Интернет-магазине.
                </li>
                <li>
                    Продавец не несет ответственности за достоверность информации, предоставляемой Клиентом оформлении заказа.
                </li>
                <li>
                    Заказ Клиента может быть оформлен в Интернет-магазине.
                </li>
                <li>
                    После оформления Заказа Клиенту предоставляется информация об ожидаемой дате передачи Товара Клиенту. Указанная дата зависит от времени, необходимого на производство Товара или наличия заказанных Товаров на складе Продавца.
                </li>

                <li>
                    Товар представлен в каталоге через фото-образцы и текстовое описание, являющиеся собственностью интернет-магазина «glorious.com.ua».
                </li>
                <li>
                    Представленные фото-образцы содержат один и более видов товара определенного наименования и текстовую информацию: описание, характеристики, размеры, стоимость за единицу продукции, имеют сведения об основных потребительских свойствах товара.
                </li>
                <li>
                    Некоторые Товары могут отличаться от представленных на фотографии, цветопередача. В случае возникновения у Клиента вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Клиент может обратиться к Продавцу.
                </li>
                <li>
                    В случае аннулирования предоплаченного Заказа, сумма предоплаты полностью возвращается Продавцом Клиенту (за вычетом комиссии, если были использованы банковские переводы) согласованным сторонами способом.
                </li>
            </ul>
            <p>Доставка</p>
            <ul>
                <li>
                    Доставка осуществляется транспортными компаниями за счёт Заказчика и Продавца (зависит от суммы заказа).
                </li>
                <li>
                    Доставка Заказа до транспортной компании осуществляется бесплатно.
                </li>
                <li>
                    Конечные сроки получения заказа зависят от адреса и региона доставки и работы конкретной службы доставки.
                </li>
                <li>
                    Отправка заказанного товара по Украине производится в течение 3-14-х рабочих дней, со дня подтверждения заказа Покупателем. Суббота и Воскресенье, равно как и официально признанные праздники не входят в число рабочих дней.
                </li>
            </ul>
            <p>Оплата Товара</p>
            <ul>
                <li>
                    Цена Товара указывается в Интернет-магазине за единицу.
                </li>
                <li>
                    Цена Товара в Интернет-магазине может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Клиентом Товар изменению не подлежит.
                </li>
                <li>
                    Продавец вправе предоставлять Клиенту скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны в Интернет-магазине и могут быть изменены Продавцом в одностороннем порядке.
                </li>
                <li>
                    При не поступлении денежных средств Интернет-магазин «glorious.com.ua» оставляет за собой право аннулировать заказ.
                </li>
                <li>
                    Цены на товары нашего интернет – магазина указаны в гривне.
                </li>
            </ul>
            <p>Возврат Товара</p>
            <p>Вы можете обменять или вернуть товар в течение 14 дней после покупки если:</p>
            <ul>
                <li>товар не имел следов использования: царапин, сколов, потёртостей</li>
                <li>товар полностью укомплектован и не нарушена целостность</li>
            </ul>
            <p>Продавец использует информацию, представленную Клиентом, в следующих случаях:</p>
            <ul>
                <li>
                    <ul>
                        <li>для выполнения своих обязательств перед Клиентом;</li>
                        <li>ля анализа работы Интернет-магазина;</li>
                        <li> для направления Клиенту сообщений рекламно-информационного характера</li>
                    </ul>
                </li>
                <li>
                    Продавец обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Клиентом, и только в объеме, необходимом для исполнения ими своих обязательств.
                </li>
                <li>
                    Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями законодательства Украины.
                </li>
                <li>
                    Продавец вправе использовать технологию “cookies”. “Cookies” не содержат конфиденциальную информацию и не передаются третьим лицам.
                </li>
                <li>
                    Продавец получает информацию об ip-адресе посетителя Интернет-магазина. Данная информация не используется для установления личности посетителя и не передается третим лицам.
                </li>
            </ul>
            <p>Прочие условия</p>
            <ul>
                <li>
                    В случае возникновения вопросов и претензий со стороны Клиента он должен обратиться к Продавцу, используя контактную информацию, размещенную в Интернет-магазине. Все возникающее споры стороны будут стараться решить путем переговоров.
                </li>
                <li>
                    Вся текстовая информация и графические изображения, находящиеся в Интернет-магазине, являются собственностью интернет-магазина «glorious.com.ua»
                </li>
                <li>
                    Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на Сайте.
                </li>
            </ul>
        </div>
    </div>

</body>
</html>