
@{
    ViewBag.Title = "Glorious | Гарантия";

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div class="container min-h">
        <br />
        <h2>Гарантии</h2>
        <div class="warranty box-shadow">
            <p>Гарантия доставки</p>
            Сайт гарантирует, что товар будет упакован должным образом и отправлен покупателю.
            При получении товара обязательно проверяйте наличие всего товара в заказе, а так же его внешний вид и целостность.
            В случае повреждения товара, или неполной комплектации заказа - необходимо отказаться от получения товара и его оплаты, а так же составить претензию и сообщите нам.</p>


            <p>Если на товаре обнаружены дефекты:</p>
            <ul>
                <li>-вы можете вернуть товар или обменять</li>
                <li>-вернуть часть стоимости</li>
            </ul>

            <p>
                Вы можете обменять или вернуть товар в течение 14 дней после покупки.
                Чтобы использовать эту возможность, пожалуйста убедитесь что:
            </p>
            <ul>
                <li>-товар не имел следов использования: царапин, сколов, потёртостей</li>
                <li>-товар полностью укомплектован и не нарушена целостность</li>
            </ul>
            <p>
                Оформить заявку на обмен или возврат можна по контактным данным.
                Обмен или возврат проводится через службу доставки за счет покупателя, в случае возврата, и за счет сайта, в случае замены.
            </p>
        </div>
    </div>
</body>
</html>